[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
wheel = "*"
configargparse = "*"

[packages.python-libmaas]
git = "https://github.com/dandruczyk/python-libmaas.git"
editable = true
